<nb-card>
    <nb-card-header class="nb-card-header">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
                <h6 class="title-header" style="text-transform: uppercase;">Quản lý menu người dùng</h6>
            </div>
        </div>
    </nb-card-header>
    <nb-card-body>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
                <div class="input-group">
                    <ngx-btn-add data-toggle="tooltip" title="Thêm mới"
                        (click)="openCreateDialog()"></ngx-btn-add>&nbsp;&nbsp;
                    <input type="text" class="form-control" [(ngModel)]="pageModel.search" (keyup.enter)="loadData()" placeholder="Nhập nội dung tìm kiếm"
                        name="seach">&nbsp;&nbsp;
                    <ngx-btn-refresh (click)="resetTextSearch()"></ngx-btn-refresh>
                </div>
            </div>
        </div>
        <br>
        <div class="row" style="overflow: auto;">
            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12">
                <table class="table table-bordered table-hover table-fixed">
                    <thead class="bg-primary text-uppercase text-white">
                        <tr>
                            <th class="text-center align-middle" style="width: 50px;">STT</th>
                            <th class="text-center align-middle" style="min-width: 250px;">Tên nhóm menu</th>
                            <th class="text-center align-middle" style="min-width: 150px;">State</th>
                            <th class="text-center align-middle" style="min-width: 150px;">Người tạo</th>
                            <th class="text-center align-middle" style="min-width: 150px;">Trạng thái</th>
                            <th class="text-center align-middle" style="min-width: 150px;">Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of target?.data;let i = index">
                            <td class="text-center align-middle">
                                {{ ( pageModel.currentPage - 1 ) * pageModel.pageSize + i + 1 }}
                            </td>
                            <td class="align-middle">{{ item.tenChucNang }}</td>
                            <td class="align-middle">{{ item.state }}</td>
                            <td class="align-middle">{{ item.nguoiTao }}</td>
                            <td class="text-center align-middle"
                                [ngClass]="{'text-success': item.trangThai, 'text-danger': item.trangThai === 0}">
                                {{ item.trangThai === 1? 'Sử dụng':'Không sử dụng' }}
                            </td>
                            <td class="text-center align-middle">
                                <ngx-icon-info title="Xem chi tiết" style="cursor: pointer;"
                                    (click)="openDetailDialog(item.menuId)"></ngx-icon-info>&nbsp;&nbsp;
                                <ngx-icon-edit title="Cập nhật" style="cursor: pointer;"
                                    (click)="openEditDialog(item.menuId)"></ngx-icon-edit>&nbsp;&nbsp;
                                <ngx-icon-delete title="Xóa" style="cursor: pointer;"
                                    (click)="openDeleteDialog(item.menuId, item.tenChucNang)"></ngx-icon-delete>
                            </td>
                        </tr>
                        <tr *ngIf="target?.data?.length === 0">
                            <td colspan="5">Không có dữ liệu.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </nb-card-body>
    <nb-card-footer style="margin-bottom: 150px;">
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-4 col-lg-4">
                <div style="float: left;">
                    Tổng số bản ghi: {{ target?.totalRecode > 0 ? target?.totalRecode : 0 }}
                </div>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-8 col-lg-8">
                <div style="float: right;">
                    <ngx-pagination (pageChange)="pageModel.currentPage = $event;loadData()"
                        (pageSize)="pageModel.pageSize = $event;loadData()" [currentPage]="pageModel.currentPage"
                        [totalPages]="target.totalPage">
                    </ngx-pagination>
                </div>
            </div>
        </div>
    </nb-card-footer>
</nb-card>