<nb-layout>
    <nb-layout-column style='padding: 0;background: #fff;'>
        <div class="container-fluid">
            <div class="row" style="padding: 0 !important;">
                <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 p-0">
                    <ngx-header-client style='padding: 0 !important;'></ngx-header-client>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 p-0">
                    <router-outlet></router-outlet>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-12 col-xs-12 col-lg-12 p-0">
                    <ngx-footer-client style='padding: 0 !important;'></ngx-footer-client>
                </div>
            </div>
        </div>
    </nb-layout-column>
</nb-layout>